@font-face {
	font-family: 'Nunito Sans ExtraLight';
	src: url('https://cdn.interflux.com/fonts/nunito-sans/NunitoSans-ExtraLight.woff2')
			format('woff2'),
		url('https://cdn.interflux.com/fonts/nunito-sans/NunitoSans-ExtraLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito Sans Light';
	src: url('https://cdn.interflux.com/fonts/nunito-sans/NunitoSans-Light.woff2') format('woff2'),
		url('https://cdn.interflux.com/fonts/nunito-sans/NunitoSans-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito Sans Regular';
	src: url('https://cdn.interflux.com/fonts/nunito-sans/NunitoSans-Regular.woff2') format('woff2'),
		url('https://cdn.interflux.com/fonts/nunito-sans/NunitoSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito Sans SemiBold';
	src: url('https://cdn.interflux.com/fonts/nunito-sans/NunitoSans-SemiBold.woff2') format('woff2'),
		url('https://cdn.interflux.com/fonts/nunito-sans/NunitoSans-SemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito Sans Bold';
	src: url('https://cdn.interflux.com/fonts/nunito-sans/NunitoSans-Bold.woff2') format('woff2'),
		url('https://cdn.interflux.com/fonts/nunito-sans/NunitoSans-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito Sans ExtraBold';
	src: url('https://cdn.interflux.com/fonts/nunito-sans/NunitoSans-ExtraBold.woff2') format('woff2'),
		url('https://cdn.interflux.com/fonts/nunito-sans/NunitoSans-ExtraBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito Sans Black';
	src: url('https://cdn.interflux.com/fonts/nunito-sans/NunitoSans-Black.woff2') format('woff2'),
		url('https://cdn.interflux.com/fonts/nunito-sans/NunitoSans-Black.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* $blue-0: #3687d9; // hyperlinks
$blue-1: #3077bf;
$blue-2: #2967a6;
$blue-3: #23578c; // Interflux logo
$blue-4: #1d4773;
$blue-5: #163759;

$orange-0: #ff9d4d;
$orange-1: #ff8f33;
$orange-2: #ff8119;
$orange-3: #ff7300; // LMPA logo
$orange-4: #e66800;
$orange-5: #cc5c00;

$grey-0: #f7f7f7; // backgrounds, borders
$grey-1: #e7e7e9; // borders
$grey-2: #cecfd2;
$grey-3: #b6b7bc;
$grey-4: #9d9fa5;
$grey-5: #85878f;
$grey-6: #6d6f78;
$grey-7: #3c3f4b; // paragraphs

$green-1: #52996f; // CTA & buttons
$green-2: #398451;
$green-3: #2e6b41;

$red-1: #fc5d5d; // errors */

:root {
	--blue-0: #3687d9; /*hyperlinks*/
	--blue-1: #3077bf;
	--blue-2: #2967a6;
	--blue-3: #23578c; /* Interflux logo */
	--blue-4: #1d4773;
	--blue-5: #163759;

	--orange-0: #ff9d4d;
	--orange-1: #ff8f33;
	--orange-2: #ff8119;
	--orange-3: #ff7300; /* LMPA logo */
	--orange-4: #e66800;
	--orange-5: #cc5c00;

	--grey-0: #f7f7f7; /* backgrounds, borders */
	--grey-1: #e7e7e9; /* borders */
	--grey-2: #cecfd2;
	--grey-3: #b6b7bc;
	--grey-4: #9d9fa5;
	--grey-5: #85878f;
	--grey-6: #6d6f78;
	--grey-7: #3c3f4b; /* paragraphs */

	--green-1: #52996f; /* CTA & buttons */
	--green-2: #398451;
	--green-3: #2e6b41;

	--red-1: #fc5d5d; /* errors */
}

body {
	font-family: 'Nunito Sans Regular', sans-serif; /* Important, we explicitly name fonts, no weights used */
	font-style: normal; /* Important, we use weightless fonts */
	font-weight: normal; /* Important, we use weightless fonts */
	font-size: 16px;
	line-height: 130%;
	margin: 0;
	background-color: white;
	color: var(--grey-7);
	-webkit-font-smoothing: antialiased; /* Without it, fonts will look bloated Chrome and Safari */
	-moz-osx-font-smoothing: grayscale; /* Without it, fonts will look bloated Firefox */

	width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Nunito Sans Bold', sans-serif; /* Important, we explicitly name fonts, no weights used */
	font-weight: normal; /* Important, we use weightless fonts */
}

p {
	font-family: 'Nunito Sans Regular', sans-serif; /* Important, we explicitly name fonts, no weights used */
	line-height: 180%;
	font-weight: normal; /* Important, we use weightless fonts */
	margin: 0;
}

img {
	display: block; /* override browser default to resolves empty space below images */
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

h1 {
	font-size: 35px;
}

/* Button and link style  */

.back {
	display: flex;
	gap: 10px;
	align-items: center;
	border: none;
	background: none;
	font-family: 'Nunito Sans Regular', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 130%;
	color: var(--grey-7);
	padding: 0;
}

.button.primary {
	background-color: var(--green-2);
	display: flex;
	border: solid 2px;
	border-color: var(--green-3);
	border-radius: 3px;
	justify-content: center;
	gap: 10px;
	height: 46px;
	align-items: center;
	color: white;
	width: 150px;
	font-family: 'Nunito Sans Semibold', sans-serif;
}

.button.primary.home {
	margin: 25px 0px 15px 0px;
	font-size: 20px;
	width: 100%;
}

.button.secondary.home {
	width: 100%;
	margin: 20px 0px;
	color: var(--green-3);
	font-family: 'Nunito Sans Regular', sans-serif;
	font-size: 15px;
	display: flex;
	gap: 6px;
	justify-content: center;
	border: solid 1px;
	border-radius: 3px;
	border-color: var(--green-3);
	background-color: white;
}

.button.primary.white {
	background-color: white;
	color: var(--green-3);
}
.button.secondary.white {
	border-color: white;
	background-color: transparent;
}

.button.primary.boarder.blue {
	background-color: white;
	color: var(--blue-3);
	border-color: var(--blue-4);
}
